<div class="container">
  <div class="form-group mt-4">
    <h3>Настройки</h3>
    <hr>
  </div>
  <ngb-tabset #t="ngbTabset">
    <ngb-tab id="tab-selectbyid1">
      <ng-template ngbTabTitle>Меню</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group row">

        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid2">
      <ng-template ngbTabTitle>Тренировка</ng-template>
      <ng-template ngbTabContent>
        <div class="form-group row">

        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
