<div class="container">
  <div class="form-group mt-4">
    <h3>Справки</h3>
    <hr>
  </div>
  <div class="row form-group">
    <div class="container fieldset-gr">
      <p style="float:left; padding-right: 10px; padding-left: 10px;">Критерии
        <hr style="float:left; width: 80%">
    </div>
  </div>
  <div class="row form-group">
    <div class="container fieldset-gr">
      <p style="float:left; padding-right: 10px; padding-left: 10px;">Резултат
        <hr style="float:left; width: 80%">
    </div>
  </div>
</div>
