<div class="header">
  Декларация за настаняване
</div>

<div class="form-group">
  Аз ...................................................................................................... декларирам, че домашният любимец............... порода ................. с паспорт .................... е ваксиниран и обезпаризитен. Има следните отличителни белези: <br>1. ............... <br>2. ............... <br>3. ...............<br>
  Запознат съм и се съгласявам с общите условия за пребиваване на територията на хотела.
</div>
<div class="form-group row" style="margin-top: 36px;">
  <div class="col-12 col-sm-3">
    Дата: ________________
  </div>
  <div class="col-12 offset-sm-6 col-sm-3">
    Подпис: ________________
  </div>
</div>
