<div class="container">
  <div class="row">
    <div class="form-group col-12">
      <h3 *ngIf="!isSecondResStep">Резервация - стъпка 1</h3>
      <h3 *ngIf="isSecondResStep">Резервация - стъпка 2</h3>
      <hr>
    </div>
    <div *ngIf="!isSecondResStep" class="form-group">

    </div>
    <div *ngIf="isSecondResStep" class="form-group row">

    </div>
    <div *ngIf="!isSecondResStep" class="form-group">
      <div class="col-12 col-sm-3">
        <button class="btn btn-primary" (click)="isSecondResStep=!isSecondResStep">Напред</button>
      </div>
    </div>
    <div class="container">
      <div *ngIf="isSecondResStep" class="form-group row">
        <div class="col-12 col-sm-3">
          <button class="btn btn-primary">Резервация</button>
        </div>
        <div class="col-12 offset-sm-4 col-sm-3 offset-md-1">
          <button class="btn btn-primary" (click)="isSecondResStep=!isSecondResStep">Назад</button>
        </div>
      </div>
    </div>
  </div>
</div>
