<div class="header">
  Въпросник
</div>
<div class="form-group">
  <div class="question">
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae, voluptas. Voluptates, id nobis! Aliquid, sequi? Iusto
      sunt numquam, rerum atque enim voluptatem dolorum sed repellat facere, officia eos dolor veritatis!</span>
    <div class="form-check" style="margin-top: 10px;">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Option 1
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Option 2
      </label>
    </div>
    <div class="form-check disabled">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Option 3
      </label>
    </div>
  </div>
  <div class="question" style="margin-top: 10px;">
    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti cumque eligendi, numquam repellendus assumenda non
      exercitationem ea pariatur nesciunt minus?</span>
    <div class="form-check" style="margin-top: 10px;">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Option 1
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Option 2
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Option 3
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" value="">Option 3
      </label>
    </div>
  </div>
  <div>
    <div class="question" style="margin-top: 10px;">
      <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti cumque eligendi, numquam repellendus assumenda non
        exercitationem ea pariatur nesciunt minus?</span>
      <div class="form-check" style="margin-top: 10px;">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="">Option 1
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="">Option 2
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="">Option 3
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="">Option 3
        </label>
      </div>
    </div>
    <div>
      <div class="question" style="margin-top: 10px;">
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti cumque eligendi, numquam repellendus assumenda
          non exercitationem ea pariatur nesciunt minus?</span>
        <div class="form-check" style="margin-top: 10px;">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 1
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 2
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 3
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 3
          </label>
        </div>
      </div>
      <div>
        <div class="question" style="margin-top: 10px;">
          <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti cumque eligendi, numquam repellendus assumenda
            non exercitationem ea pariatur nesciunt minus?</span>
          <div class="form-check" style="margin-top: 10px;">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 1
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 2
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 3
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Option 3
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row" style="margin-top: 36px;">
        <div class="col-12 col-sm-3">
          Дата: ________________
        </div>
        <div class="col-12 offset-sm-6 col-sm-3">
          Подпис: ________________
        </div>
      </div>
    </div>
  </div>
</div>
