<div class="container">
  <div class="row form-group">
    <div class="col-12 col-md-11">
      <h1 class="text-center">Добре дошли в KINGDOM PETS</h1>
    </div>
  </div>
  <div class="container">
    <div class="row form-group">
      <div class="col-12 offset-md-1 col-md-11">
        <ngb-carousel *ngIf="images" style="width: 797px; height: 449px;">
          <ng-template ngbSlide>
            <img [src]="images[0]" alt="Random first slide">
            <div class="carousel-caption">
              <h3>Лукс</h3>
              <p>Ние ще се погрижим за вашият любимец по най-добрия възможен начин.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img [src]="images[1]" alt="Random second slide">
            <div class="carousel-caption">
              <h3>Second slide label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img [src]="images[2]" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Обучение</h3>
              <p>Предоставяме ви възможност за обучение на вашите любимци при най-добрите!</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img [src]="images[3]" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Обучение</h3>
              <p>Предоставяме ви възможност за обучение на вашите любимци при най-добрите!</p>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
    <div class="row form-group pb-5" >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nulla maiores, accusantium numquam, tempore necessitatibus error ad nisi quod rerum dolorum commodi sapiente officia! Nam debitis, doloribus perferendis eum quos quis ut inventore reiciendis aliquam nisi enim qui ipsam praesentium aliquid eius harum aspernatur accusantium, cum dolor! Pariatur cumque nihil dignissimos nemo hic harum ab aliquam. Architecto quam corporis nisi provident modi, natus id perferendis consequuntur et amet voluptate hic asperiores nesciunt nobis, iure ducimus, accusantium porro incidunt itaque minima? Eaque, minus. Eius harum provident saepe, eos fugiat, porro nostrum doloremque culpa minima placeat voluptatum dignissimos reiciendis repudiandae quae possimus?
    </div>
  </div>
</div>
