<div class="container">
  <div class="form-group mt-4">
    <h3>Управление на акаунти</h3>
    <hr>
  </div>
  <div class="form-group">
    <kendo-grid [data]="accounts | async" [height]="auto">
      <kendo-grid-column field="reservationId" title="Номер на резервацията" width="80">
      </kendo-grid-column>
      <kendo-grid-column field="fullName" title="Имена" width="200">
      </kendo-grid-column>
      <kendo-grid-column field="email" title="Имейл" width="150">
      </kendo-grid-column>
      <kendo-grid-column title="Акаунт" width="250">
        <ng-template kendoGridCellTemplate let-account>
          <span *ngIf="account.isActivated" style="padding-right: 8px;">активиран</span>
          <span *ngIf="!account.isActivated" style="padding-right: 8px;" (click)="onActivationButtonClicked(account)" style="text-decoration: underline; cursor: pointer; margin-right: 5px;">активирай</span>
          <span *ngIf="account.isActivated" style="padding-right: 8px;" (click)="onEditButtonClicked(account)" style="text-decoration: underline; cursor: pointer; margin-right: 5px;">редактирай</span>
          <span (click)="onDeleteButtonClicked(account)" style="text-decoration: underline; cursor: pointer; margin-right: 5px;">изтрий</span>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <kendo-dialog title="Изтриване на акаунт" *ngIf="isDeleteDialogOpened" (close)="onDialogClosed()" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Искате ли да изтриете {{selectedAccount.name}}?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="onDeleteSubmitted()">Да</button>
      <button kendoButton (click)="onDialogClosed()">Не</button>
    </kendo-dialog-actions>
  </kendo-dialog>
  <kendo-dialog title="Активиране на акаунт" *ngIf="isActivateDialogOpened" (close)="onDialogClosed()" [minWidth]="250" [width]="450">
    <div class="form-group">
      <small class="col-12">Потребителско име</small>
      <input class="col-8 form-control" type="text" id="username" [(ngModel)]="selectedAccount.userName">
    </div>
    <div class="form-group">
      <small class="col-12 ">Имейл</small>
      <input class="col-8 form-control" type="email" id="email" [(ngModel)]="selectedAccount.email">
    </div>
    <div class="form-group row">
      <div class="col-8">
        <small class="col-6">Парола</small>
        <input class="form-control" type="text" id="password" [(ngModel)]="selectedAccount.password">
      </div>
      <div class="col-4 mt-3">
        <button (click)="onGenerateButtonClicked()" class="btn">Генерирай</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button class="btn" (click)="onActivationSubmitted()">Активирай</button>
      </div>
      <div class="col-6">
        <button class="btn" (click)="onDialogClosed()">Отказ</button>
      </div>
    </div>
  </kendo-dialog>
  <kendo-dialog title="Редактиране на акаунт" *ngIf="isEditDialogOpened" (close)="onDialogClosed()" [minWidth]="250" [width]="450">
    <div class="form-group">
      <small class="col-12">Потребителско име</small>
      <input [(ngModel)]="accountEditBindingModel.userName" class="col-8 form-control" type="text" id="username">
    </div>
    <div class="form-group">
      <small class="col-12 ">Имейл</small>
      <input [(ngModel)]="accountEditBindingModel.email" class="col-8 form-control" type="email" id="email">
    </div>
    <div class="row">
      <div class="col-6">
        <button class="btn" (click)="onEditSubmitted()">Активирай</button>
      </div>
      <div class="col-6">
        <button class="btn" (click)="onDialogClosed()">Отказ</button>
      </div>
    </div>
  </kendo-dialog>
</div>
