<div class="container">
  <div class="form-group">
    <h3>Вписване</h3>
    <hr>
  </div>
  <div class="row">
    <div class="container">
      <form [formGroup]="loginForm" novalidate>
        <div class="form-group">
          <div class="col-12">
            <label for="user">Потребителско име</label>
          </div>
          <div class="col-12 col-sm-6">
            <input formControlName="username" id="user" type="text" class="form-control" required>
          </div>
          <div class="col-12 col-sm-6">
            <div class="text-danger" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
              Полето за имейл е задължително!
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-12">
            <label for="password">Парола</label>
          </div>
          <div class="col-12 col-sm-6">
            <input type="password" formControlName="password" id="password" class="form-control" required>
          </div>
          <div class="col-12 col-sm-6">
            <div class="text-danger" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
              Паролата е задължителна!
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <button class="btn btn-primary" (click)="onSubmit()">Вписване</button>
        </div>
      </form>
    </div>
  </div>
</div>
