<div class="container" style="margin-top: 30px;">
  <div *ngIf="hotelProducts | async as services" >
  <ngb-accordion *ngIf="services.lenght !== 0; else printError"  #acc="ngbAccordion">
    <ngb-panel *ngFor="let service of services"  title="{{service.name}}">
      <ng-template ngbPanelContent>
        <div class="form-group">
          <textarea id="staticDescr" type="text" class="form-control-plaintext">{{service.description}}</textarea>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <ng-template #printError>
    <p class="text-danger">Сървърът е временно недостъпен!</p>
  </ng-template>
</div>
</div>
