kendo-pdf-export {
  @font-face {
    font-family: "Devroye Unicode";
    src: url("../../../assets/fonts/apostrophic-lab_devroye/DEVROYUN.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
  }

}
